body{
    background-color: #BFA19F;
}
.main-container{
    margin: 5%;
}
#modal-preloader{
    margin-top: 10%;
    margin-bottom: 5%;
}

.card-image{
    padding-top: 5%;
}

.card:hover > .card-image>img{
    filter: brightness(50%)
}
.card>.card-action>a{
    width: 100%;
    background-color: #696DBF;
}

.card > .card-image>img{
    transition: all 500ms ease;
}

.preguntas{
    margin: 5%;
}

#modal1{
    overflow: hidden;
}

.login-form, .registre-form{
    margin: 2%;
}

label{

    color: black;
}

.oculto{
    display: none;
}


.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 100%;
	margin-top: 5%;
    margin-bottom: 5%;
}

.search_wrap .search_box{
	position: relative;
	width: 100%;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box a{
	position: absolute;
	top: 0;
	right: 0;
	
	height: 100%;
	background: #696DBF;
	z-index: 1;
	cursor: pointer;
}



