.avatars{
	margin: 5%;
}
.secondary-content .material-icons {
	color: #D97373;
}

#profile{
	background: #D97373;
}

.inline-icon {
	vertical-align: bottom;
	font-size: 17px;
 }
#avatar{
	height: 150px;
    width: auto;
}
